# Зависимости
/node_modules
/.pnp
.pnp.js

# Логи и кэш
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Переменные окружения
.env.local
.env.development
.env.test
.env.production

# Артефакты сборки
/dist
/.next
/out
/.cache
/.vercel

# IDE и системные файлы
.DS_Store
.idea
.vscode
*.swp
*.swo

# README.md
